@import url(reset.css);

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --nav:  #3b3b3b;
  --bg-color-primary:  #161616;
  --titles: #848484;
  --text: #ffffff;
  --card: #202020;
  --button: #bd8cf8;
}

#root, html {
  background-color: var(--bg-color-primary);
  color: var(--text);
  margin: 0rem;
  padding: 0rem;
}

/* Grid layout */

.container {
  min-height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
        'nav nav'
        'aside main'
}

.aside {
  grid-area: aside;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0rem 1rem 3rem 3rem;
}

.navbar {
  grid-area: nav;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
}

.main {
  grid-area: main;
  padding: 0rem 1.5rem;
}

/* Navbar */
.navbar > div:first-of-type {
  display: flex;
  align-items: center;
}

.navbar h1 {
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  padding: 0rem 2rem;
}

.navbar span {
  color: var(--button);
}

.navbar input {
  width: 60vw;
  height: 1.8rem;
  border-top-left-radius: 2.5rem;
  border-bottom-left-radius: 2.5rem;
  border: none;
  padding: 0.25rem 2.5rem;
  color: var(--titles);
  background-color: var(--nav);
  -webkit-box-shadow: 1px 5px 15px 5px rgba(0,0,0,0.31); 
  box-shadow: 1px 5px 15px 5px rgba(0,0,0,0.31);
  font-size: 1rem;
}

.search-bar {
  position: relative;
  display: flex;
}

.navbar input:hover, .navbar input:focus{
  transition: ease 0.5s;
  background-color: white;
  color: var(--titles);
}

.searchButton{
  border-top-right-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
  border: none;
  width: 3rem;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: #ffffff;
  color: var(--bg-color-primary);
  margin-right: 1rem;
}

.searchButton:hover {
  transition: ease 0.3s;
  background-color: var(--bg-color-primary);
  color: var(--text);
}






/* Video game card */

.card-outer {
  width: 15rem;
  min-height: 15rem;
  background-color: var(--card);
  border-radius: 1rem 1rem 1rem 1rem;
  -moz-border-radius: 1rem 1rem 1rem 1rem;
  -webkit-border-radius: 1rem 1rem 1rem 1rem;
  border: 0px solid #000000;
  box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
  margin-top: 2rem;
  padding-bottom: 1rem;
}

.card-outer:hover {
  cursor: pointer;
}

.card-body {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: 800;
  font-size: 1.15rem;
}

.card-outer > img {
  width: 100%;
  height: 75%;
  border-radius: 1rem 1rem 0rem 0rem;
  -moz-border-radius: 1rem 1rem 0rem 0rem;
  -webkit-border-radius: 1rem 1rem 0rem 0rem;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 2rem;
  padding-right: 1rem;
}

/* Modal */
/* Modal container */
.modal-container {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.4s;
  z-index: 1000; /* Ensure the modal is on top of other content */
}

/* Modal content */
.modal {
  margin: 1rem;
  visibility: hidden;
  opacity: 0;
  position: relative;
  max-width: 35rem;
  height: fit-content;
  padding-bottom: 1rem;
  background-color: var(--card);
  border-radius: 1rem;
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
}


/*.modal {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 25%;
  right: 0;
  bottom: 0;
  left: 35%;
  transition: all .4s;
  max-width: 35rem;
  height: fit-content;
  padding-bottom: 1rem;
  background-color: var(--card);
  border-radius: 1rem 1rem 1rem 1rem;
  -moz-border-radius: 1rem 1rem 1rem 1rem;
  -webkit-border-radius: 1rem 1rem 1rem 1rem;
  border: 0px solid #000000;
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
}*/

.active {
  visibility: visible;
  opacity: 1;
}


.modal > img {
  width: 100%;
  height: 50%;
  border-radius: 1rem 1rem 0rem 0rem;
  -moz-border-radius: 1rem 1rem 0rem 0rem;
  -webkit-border-radius: 1rem 1rem 0rem 0rem;
}


.close-button i {
  font-size: 1.5rem;
  color: var(--text);
  padding: 0.2rem;
}

.close-button{
  position: absolute; 
  left: 90%;
  top: 5%;
  z-index: 2; 
  border: none;
  border-radius: 20%;
  background-color: var(--card);
  cursor: pointer;
} 

.info {
  display: flex;
  width: fit-content;
  height: fit-content;
  justify-content: space-between;
  margin-top: 0.5rem;
  padding: 1rem 1rem 0rem 1rem;
}

.info div:last-of-type {
  margin-right: 1rem;
  margin-left: 1rem;
}

.info div:first-of-type {
  margin-left: 1rem;
  max-width: 50%;
}

.info h3 {
  font-weight: 600;
  font-size: 1.85rem;
}

.info p {
  color: var(--titles);
  font-size: 0.75rem;
  margin-top: 0.5rem;
  padding-bottom: 1rem;
}

.info h4 {
  margin-top: 0.5rem;
  font-size: 1rem;
}

.info a {
  color: var(--button);
}

.info li {
  padding: 0.4rem 0rem;
  font-size: 0.75rem;
}

.info li span {
  color: var(--text);
}

/* Aside */
.aside > div:first-of-type {
  padding-bottom: 1.5rem;
  font-size: 1.25rem;
  font-weight: 700;
}

.aside h4{
  cursor: pointer;
}

.genres h3, .publishers h3{
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 0.5rem;
}

.genres, .publishers {
  margin-bottom: 2rem;
}

.genres li, .publishers li {
  padding: 0.35rem 0rem;
  cursor: pointer;
}

.genres i, .publishers i {
  background-color: var(--nav);
  border-radius: 0.25rem;
  padding: 0.4rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

.genres i:hover, .publishers i:hover{
  background-color: #ffffff;
  color: var(--nav);
  transition: ease 0.3s;
}



/* main */

.main h2 {
  font-size: 3rem;
  font-weight: 600;
  padding-bottom: 1rem;
}



/* Slider */
.container__slider {
  position: relative;
  width: 100%;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: black;
  border-radius: 1rem 1rem 0rem 0rem;
  -moz-border-radius: 1rem 1rem 0rem 0rem;
  -webkit-border-radius: 1rem 1rem 0rem 0rem;
}

.container__slider > button {
  background-color: transparent;
  outline: none;
  border: 0;
  color: whitesmoke;
  font-size: 24px;
}

.container__slider > button:active {
  color: black;
}

.slider__btn-next {
  position: absolute;
  right: 0;
  font-weight: 700;
  padding-right: 1rem;
  cursor: pointer;
}

.slider__btn-prev {
  position: absolute;
  left: 0;
  font-weight: 700;
  padding-left: 1rem;
  cursor: pointer;
}

.container__slider__links {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.container__slider__links-small {
  position: relative;
  width: 8px;
  height: 8px;
  padding: 0;
  border-radius: 50%;
  outline: none;
  border: 0;
  background-color: white;
  border: 1px solid grey;
  transition: background-color 1s ease;
  margin: 0 2px;
}

.container__slider__links-small-active {
  background-color: black
}

.slider__item {
  box-sizing: border-box;
  min-width: 100%;
  height: auto;
  overflow: hidden;
  object-fit: cover;
  height: auto;
  transform: translateX(0);
  transition: transform 1s ease;
  border-radius: 1rem 1rem 0rem 0rem;
  -moz-border-radius: 1rem 1rem 0rem 0rem;
  -webkit-border-radius: 1rem 1rem 0rem 0rem;
}

.slider__item-active-1 {
  transform: translateX(0);
}

.slider__item-active-2 {
  transform: translateX(-100%);
}

.slider__item-active-3 {
  transform: translateX(-200%);
}

.slider__item-active-4 {
  transform: translateX(-300%);
}

.slider__item-active-5 {
  transform: translateX(-300%);
}

.slider__item-active-6 {
  transform: translateX(-300%);
}

.slider__item-active-7 {
  transform: translateX(-300%);
}

.slider__item img {
  width: 100%;
  height: auto;
}

/* Error page */
.error-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
}

.error-message span {
  font-size: 10rem;
  padding: 1rem;
  color: var(--titles);
}

.error-message h2 {
  font-size: 2.5rem;
}

.error-message h3 {
  font-size: 1.8rem;
}

/* next and previous page buttons */
.next-page {
  display: flex;
  justify-content: center;
}

.next-page button {
  margin: 0rem 0.75rem 3rem 0.75rem;
  border: none;
  font-size: 1.4rem;
  padding: 0.35rem;
  border-radius: 0.5rem;
  background-color: white;
  color: var(--bg-color-primary);
  cursor: pointer;
}

.next-page button:hover {
  background-color: var(--nav);
  color: white;
  transition: ease 0.3s;
}

/* Media queries */
@media only screen and (min-width: 0px) and (max-width: 450px) {
  .modal {
    max-width: 25rem;
  }
  .close-button {
    left: 85%;
  }
}